{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/styleForm.css') }}">
{% endblock %}
{% block body %}
<div style="height: 100vh;"></div>
<div class="signup__container">
    <div class="container__child signup__thumbnail ">
        <div class="thumbnail__logo">
            <h1 class="logo__text">DD Interiors Home</h1>
        </div>
        <div class="thumbnail__content text-center">
            <h2 class="heading--primary">Bonjour</h2>
            <h2 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h2>
        </div>
        <div class="thumbnail__links">
            <ul class="list-inline m-b-0 text-center">
            </ul>
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        <div class="signup__overlay"></div>
    </div>
    <div class="row container__child signup__form ">
        <div class="form-group row">
            <div class="style-form col-md-6"><input type="email" value="{{ last_username }}" name="email"
                    id="inputEmail" class="form-control" autocomplete="email" required autofocus
                    placeholder="Adresse E-mail"></div>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required placeholder="mot de passe">
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-group">
            <div class="style-form">
            <label>
                         <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
            </div>
        </div>
        <div class="m-t-lg">
            <ul class="list-inline">
                <li>
                    <input class="btn--form" type="submit" value="Sign in" />
                </li>
            </ul>
        </div>
        </form>
    </div>
</div>

{% endblock %}