{{ form_start(form) }}
    <div style="height: 50vh;">
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == 'app_admin_portfolio_edit' %}
<h2>Images</h2>
{% for image in archi_project.imagesProjects %}
    <div>
        {% if image.getCatImagesProjects().getNom() == 'Cuisine' %}
            Cuisine:
            <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100">
        {% elseif image.getCatImagesProjects().getNom() == 'Salon' %}
            Salon:
            <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100">
        {% elseif image.getCatImagesProjects().getNom() == 'Chambre' %}
            Chambre:
            <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100">
        {% elseif image.getCatImagesProjects().getNom() == 'Salle de bain' %}
            Salle de bain:
            <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100">
        {% elseif image.getCatImagesProjects().getNom() == 'Salle a manger' %}
            Salle à manger:
            <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100">
        {% endif %}
    </div>
{% endfor %}
    {% endif %}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    </div>
