{% extends 'base_admin.html.twig' %}

{% block title %}ArchiProjects index{% endblock %}

{% block body %}
    <h1>ArchiProjects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>image</th>
                <th>Titre</th>
                <th>Pays</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for archi_project in archi_projects %}
            <tr>
                <td>{{ archi_project.id }}</td>
                {% for image in archi_project.imagesProjects %}                    
                <td> <img src="{{ asset('img/portfolio/') ~ image.salon}}" alt="image" width="150"></td>
                {% endfor %}
                <td>{{ archi_project.titre }}</td>
                <td>{{ archi_project.pays }}</td>
                <td>{{ archi_project.description }}</td>
                <td>
                    <a href="{{ path('app_admin_portfolio_show', {'id': archi_project.id}) }}">show</a>
                    <a href="{{ path('app_admin_portfolio_edit', {'id': archi_project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_portfolio_new') }}">Create new</a>
{% endblock %}
