{% extends 'base_admin.html.twig' %}

{% block title %}ArchiProjects index{% endblock %}

{% block body %}
    <h1>ArchiProjects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>image</th>
                <th>Titre</th>
                <th>Pays</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for archi_project in archi_projects %}
            <tr>
                <td>{{ archi_project.id }}</td>
                           {% for image in archi_project.imagesProjects %}
                {% if image.getCatImagesProjects() is not null %}
                    {% set category = image.getCatImagesProjects().getNom() %}
                    {% if category == 'Cuisine' %}
                        <td>Cuisine: <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="150"></td>
                    {% elseif category == 'Salon' %}
                        <td>Salon: <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="150"></td>
                    {% elseif category == 'Chambre' %}
                        <td>Chambre: <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="150"></td>
                    {% elseif category == 'Salle de bain' %}
                        <td>Salle de bain: <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="150"></td>
                    {% elseif category == 'Salle a manger' %}
                        <td>Salle a manger: <img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="150"></td>
                    {% endif %}
                {% endif %}
            {% endfor %}
                <td>{{ archi_project.titre }}</td>
                <td>{{ archi_project.pays }}</td>
                <td>{{ archi_project.description }}</td>
                <td>
                    <a href="{{ path('app_admin_portfolio_show', {'id': archi_project.id}) }}">show</a>
                    <a href="{{ path('app_admin_portfolio_edit', {'id': archi_project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_portfolio_new') }}">Create new</a>
{% endblock %}
