{% extends 'base_admin.html.twig' %}

{% block title %}New ArchiProjects{% endblock %}

{% block body %}
    <h1>Create new ArchiProjects</h1>
    <div class="container-fluid">
       {{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.pays) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.m2) }}
    {{ form_row(form.description) }}
    {{ form_row(form.designBrief) }}
    {{ form_row(form.vision) }}
    {{ form_row(form.transformation) }}
    {{ form_row(form.existant) }}
    {{ form_row(form.projet) }}

    {# Affiche les champs si présents dans le formulaire #}
    {% if form.residential is defined %}
         <div class="form-group">
        {{ form_label(form.commercial, 'Images residential', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.residential, {'attr': {'class': 'form-control', 'multiple': true}}) }}
            {{ form_errors(form.residential) }}
        </div>
    </div>
    {% endif %}

    {% if form.commercial is defined %}
         <div class="form-group">
        {{ form_label(form.commercial, 'Images Commercial', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.commercial, {'attr': {'class': 'form-control', 'multiple': true}}) }}
            {{ form_errors(form.commercial) }}
        </div>
    </div>
    {% endif %}
</div>

    {{ include('admin/portfolio/_form.html.twig') }}

    <a href="{{ path('app_admin_portfolio_index') }}">back to list</a>
{% endblock %}
