{% extends 'base_admin.html.twig' %}

{% block title %}ArchiProjects{% endblock %}

{% block body %}
    <h1>ArchiProjects</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archi_project.id }}</td>
            </tr>
            <tr>
                <th>image</th>
            {% for image in archi_project.imagesProjects %} 
                        {% if image.getCatImagesProjects().getNom() == 'Cuisine' %}
            <th>Cuisine:</th>
            <td><img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100"></td>
        {% elseif image.getCatImagesProjects().getNom() == 'Salon' %}
             <th>Salon:</th>
            <td><img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100"></td>
        {% elseif image.getCatImagesProjects().getNom() == 'Chambre' %}
             <th>Chambre:</th>
            <td><img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100"></td>
        {% elseif image.getCatImagesProjects().getNom() == 'Salle de bain' %}
             <th>Salle de bain:</th>
            <td><img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100"></td>
        {% elseif image.getCatImagesProjects().getNom() == 'Salle a manger' %}
             <th>Salle à manger:</th>
            <td><img src="{{ asset('img/portfolio/') ~ image.getFile() }}" alt="image" width="100"></td>
        {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ archi_project.titre }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ archi_project.pays }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ archi_project.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_portfolio_index') }}">back to list</a>

    <a href="{{ path('app_admin_portfolio_edit', {'id': archi_project.id}) }}">edit</a>

    {{ include('admin/portfolio/_delete_form.html.twig') }}
{% endblock %}
