{% extends 'base.html.twig' %}

{% block title %}ArchiProjects index
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/portfolioIndex.css')}}">
{% endblock %}


{% block body %}



<div id="background-container">
  <div id="background-container2">
    <div style="display: flex; gap: 150px;">
      <button class="button pelement barrier"
        style="font-size: xx-large; background: none; border: none; color: whitesmoke;">Résidentiel</button>
      <button class="button pelement barrier"
        style="font-size: xx-large; background: none; border: none; color: whitesmoke;">Commercial</button>
    </div>
  </div>
</div>





<div class="article">
  <div class="carousells">
    <div style="display: flex; justify-content: center; align-items: center;">
      <div id="reset-background" class="neon-container" style="display: flex; align-items: center;">
        <div class="neon-symbol">&lt;</div>
        <div class="neon-line"></div>
        <h1 id="dynamic-title" class="neon-underline" style="color: #fab162;"></h1>
      </div>
    </div>
    <div class="carousells--wrap">
      {% for archi_project in archi_projects %}
      {% for image in archi_project.imagesProjects %}
      <div class="carousells--item">
        <a href="{{ path('app_portfolio_show', {'id': archi_project.id}) }}">
          <figure>

            <img src="{{ asset('img/portfolio/') ~ image.getFile() }}"
              alt="image-architectural-{{ image.getCatImagesProjects().getNom()|lower }}" />
          </figure>
        </a>
        <p>{{archi_project.titre}}</p>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
    
    <div class="carousells--progress">
      <div class="carousells--progress-bar"></div>
    </div>
  </div>
</div>



{% endblock %}

{% block javascripts %}



<script src="{{ asset('js/portfolioIndex.js') }}"></script>
<script src="{{ asset('js/portfolioIndexCarrousel.js') }}"></script>
{% endblock %}