{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        {% for message in app.flashes('message') %}
        <div class="col-xs4">
            <div class="p-3my-2 rounded-2 succes"> {{message}} </div>
        </div>
        {% endfor %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Phone</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('app_admin_profile_edit', {'id': user.id}) }}">edit</a>
                </td>
                </td>
                <td>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
