{% extends 'base_admin.html.twig' %}

{% block title %}CategoriesPrix{% endblock %}

{% block body %}
    <h1>CategoriesPrix</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categories_prix.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categories_prix.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_categories_prix_index') }}">back to list</a>

    <a href="{{ path('app_admin_categories_prix_edit', {'id': categories_prix.id}) }}">edit</a>

    {{ include('admin/categories_prix/_delete_form.html.twig') }}
{% endblock %}
