{% extends 'base.html.twig' %}
{% block title %}DD Interiors Home Nos
prestations
{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/styleCard.css') }}" />
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

{% endblock %}
{% block body %}
{# <section class="pageTop anim" data-scrollama-index="0">
	<div class="overflow-hidden">
		<div class="pageTop__bg parallax" data-rellax-speed="-3"
			style="background-image: url(&quot;https://media1.ledevoir.com/images_galerie/nwd_1135230_914403/image.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
		</div>
		<div class="pageTop__container">
			<div class="container">
				<h1 class="pageTop__title">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							Prestation
						</font>
					</font><span class="reveal_title"></span>
				</h1>

			</div>
		</div>
</section>

<div class="container-card">
	{% for prestation in prestations %}
	<a href="{{path('app_prestations_show', {'id': prestation.id}) }}">
		<div class="card photo-drop-shadow">
			<div class="image-card"></div>
			<div class="card-content">
				<h2>
					Titre
					{{ prestation.titre }}
				</h2>
				<p>
					{% if not prestation.forfait %}
					Prix :
					{{ prestation.prix }}
					{% if prestation.prix %}
					€
					{% endif %}
					{% if
					prestation.categoriesPrix.nom == "mètre carré" %}
					m²
					{% elseif prestation.categoriesPrix.nom == "par pièce" %}
					/pièce
					{% endif %}
					{% endif %}
				</p>
				<p>
					{% if prestation.forfait %}
					forfait :
					{{ prestation.forfait }}
					€
					<br>
					forfait :
					{{ prestation.forfait2 }}
					€
					{% endif %}
					<li>
						{{ prestation.description }}
						{% if prestation.description2 %}
						<br />
						{% endif %}
						{{ prestation.description2 }}
					</li>
				</p>
	</a>
</div>
</div>

{% endfor %}
</div> #}


<div style="height: 100%;">
	<div style="background: url('../img/background/image-prestation.jpeg');
    min-height: 100vh; max-height: 100%; width: 100%; background-size: cover; background-repeat: no-repeat;">
		<div class="overflow-container" style="">
			<div style="background-color: rgba(255, 255, 255, 0.844); height: auto;">
				<div class="container-fluid">
					<div class="col-md-6">
						<div class="container">
							<div class="row justify-content-end align-items-end"
								style="min-height: 50vh; max-height: auto;">

								<div class="col-md-7" style="margin-right: 2.5vw">
									<h2 class="slide__title" style="font-size: 63px; font-weight: 900; opacity: 1;">
										<span>NOS</span><br>
										<span>PRESTATIONS</span>
									</h2>
									<p class="slide__title"
										style="text-align: right; font-size: 43px; font-weight: 900; opacity: 1; display: block;">
										en résumé <i class="fa fa-angle-double-right"
											style="color: #297899; font-size: 33px;"></i></p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 ms-auto">
						<div class="container">
							<div class="col-md-6" style="margin-left: 2.5vw;">
								<div class="button-wrapper">
									<button id="toggleButton" class="pelement">
										<strong>Conseil</strong>
									</button>
									<div id="toggleText">
										<p>
											Besoin d'une prestation rapide pour vous aider dans vos projets
											d'aménagement ? Vous rencontrez des difficultés à vendre votre bien ? Nous
											vous proposons de vous accompagner avec différents forfaits adaptés à vos
											besoins.
										</p>

										<ul>
											<li><strong>Visite-Conseils: </strong> 180,00€ HT (+ 50,00€ HT avec
												compte-rendu)</li>
											<li><strong>Coaching Déco: </strong> de 300,00€ à 460,00€ HT</li>
											<li><strong>Home Staging: </strong> sur devis.</li>
										</ul>

									</div>
									<span style="margin: 1em 0;"></span>
								</div>
							</div>

							<div class="col-md-6" style="margin-left: 2.5vw">
								<div class="button-wrapper">
									<button id="secondToggleButton" class="pelement">
										<strong>Conception</strong>
									</button>
									<div id="secondToggleText">
										<p>
											Vous souhaitez avoir des idées d'aménagement et de décoration modélisées en
											3D de qualité ? Nous vous proposons différents forfaits de conception par
											espace comprenant des plans d'aménagement, des propositions de matériaux et
											de mobiliers, des visuels 3D, ainsi qu'un descriptif du projet.
										</p>

										<ul>
											<li><strong>Cuisine: </strong>490,00€ HT</li>
											<li><strong>Salon: </strong> 420,00€ HT</li>
											<li><strong>Salle de bain: </strong>460,00€ HT</li>
											<li><strong>Chambre: </strong>390,00€ HT</li>
											<li><strong>Dressing: </strong>sur devis</li>
											<li><strong>Meuble sur mesure: </strong>sur devis</li>
											<li><strong>Extérieur: </strong>sur devis</li>
											<li><strong>Commerce:: </strong>sur devis</li>
											<li><strong>Relevé de l'état des lieux : </strong>de 180,00€ à 300,00€ HT
											</li>
										</ul>

									</div>
									<span style="margin: 1em 0;"></span>
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
			<div style="background-color: rgba(245, 245, 245, 0); height: 50vh;">

				<div class="col-md-6 ms-auto">
					<div class="container">
						<div class="row align-items-end" style="min-height: 50vh;">

							<div class="col-md-8">
								<h2 class="" style="text-align: right; display: block; font-size: 63px; font-weight: 900; color: #297899;
									margin: 0; letter-spacing: -1px;">
									<span>NOS</span><br>
									<span>PRESTATIONS</span>
								</h2>
								<p class="" style="margin-bottom: 0.5em; text-align: right; display: block; font-size: 43px; font-weight: 900; color: #297899;
									margin: 0; letter-spacing: -1px;">
									en détail<i class="fa fa-angle-double-down"
										style="color: #fab162; display: block; text-align: center; margin-left: 70%; font-size: 33px;"></i>
								</p>

							</div>
						</div>
					</div>
				</div>

			</div>


			<div class="section-right">
				<div class="col-md-6 ms-auto">
					<div class="container">
						<div class="row">

							<div class="animated-element animated-element-right col-md-8">
								<i class="fa fa-angle-double-left"
									style="color: #297899; font-size: 33px; display: block; text-align: end; margin-top: 2em;"></i>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<h3 class="animated-element animated-element-down"
									style="color: #297899; text-align: right; margin-top: 1em; font-family: 'Lobster', cursive; ">
									<strong>Prestation / au forfait</strong>
								</h3>
							</div>
							<div class="col-md-8 animated-element animated-element-left">

								<h1 style="color: #1a1818; text-align: right; font-weight: 900;">Visite-conseils</h1>
							</div>
							<div class="col-md-8 animated-element animated-element-up">

								<p style="font-size: 14px; color: #1a1818; text-align: right;">A l’écoute de vos envies
									et de vos éventuels problèmes d’ordre technique, nous vous proposons des solutions :
									optimiser l’aménagement d’une pièce pour créer un gain d’espace, agencement d’une
									pièce et choix des teintes et des matériaux, faisabilité technique de certaines de
									vos idées, donner notre avis sur le potentiel d’un bien à acquérir ou encore des
									conseils pour faciliter la vente de votre bien. La prestation facturée 180,00€ HT
									est à régler à la fin de la visite-conseils. Un compte-rendu peut-être délivré pour
									un forfait supplémentaire de 50€ HT.</p>
							</div>

							<div class="col-md-8 animated-element animated-element-up"
								style="display: flex; justify-content: space-around; margin-left: 3vw; margin-top: 1em; color: #297899; font-size: 36px; ">

								<i class="fa fa-gears"></i>
								<i class="fa-regular fa-clock"></i>
								<i class="fa-solid fa-euro-sign"></i>
							</div>
							<div class="col-md-8 animated-element animated-element-up"
								style="display: flex; justify-content: space-around; margin-left: 3vw; font-family: 'Lobster', cursive; color: #297899; font-size: 20px; font-weight: 900; ">

								<span>Déroulement</span>
								<span>Déroulement</span>
								<span>Déroulement</span>
							</div>
							<div class="col-md-8 animated-element animated-element-up"
								style="display: flex; justify-content: space-around; margin-left: 3vw; color: #1a1818; font-size: 14px;">

								<p>sur place</p>
								<p>1 à 2h</p>
								<p>180.00€ HT</p>
							</div>

						</div>
					</div>
				</div>
			</div>





			<div class="section-left">
				<div class="col-md-6">

					<div class="container" style="margin-left: 15vw;">
						<div class="row">

							<div class="col-md-8 animated-element animated-element-left">
								<i class="fa fa-angle-double-right"
									style="color: #297899; font-size: 33px; display: block; text-align: start; margin-top: 2em;"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 animated-element animated-element-right">
								<h3
									style="color: #297899; text-align: left; margin-top: 1em; font-family: 'Lobster', cursive; ">
									<strong>Prestation / au forfait</strong>
								</h3>
							</div>
							<div class="col-md-8 animated-element animated-element-down">

								<h1 style="color: #1a1818; text-align: left; font-weight: 900;">Coaching Déco</h1>
							</div>
							<div class="col-md-8 animated-element animated-element-up">

								<p style="font-size: 14px; color: #1a1818; text-align: left;">Pour une mission plus
									approfondie, nous vous conseillerons le coaching en décoration, qui consiste à se
									rendre dans des magasins ciblés au préalable pour procéder à l’achat de fournitures
									(revêtements de sols/murs, mobiliers, éléments de décoration…) tout en vous
									conseillant sur les aspects esthétiques et techniques de votre projet.</p>
							</div>

							<div class="col-md-8 animated-element animated-element-up"
								style="display: flex; justify-content: space-around; margin-top: 1em; color: #297899; font-size: 36px;">

								<i class="fa fa-gears"></i>
								<i class="fa-regular fa-clock"></i>
								<i class="fa-solid fa-euro-sign"></i>
							</div>
							<div class="col-md-8 animated-element animated-element-up"
								style="display: flex; justify-content: space-around; font-family: 'Lobster', cursive; color: #297899; font-size: 20px; font-weight: 900;">

								<span>Déroulement</span>
								<span>Déroulement</span>
								<span>Déroulement</span>
							</div>
							<div class="col-md-8 animated-element animated-element-up"
								style="display: flex; justify-content: space-around; color: #1a1818; font-size: 14px;">

								<p>sur place et/ou en brmagasin</p>
								<p>demi-journée ou journée entière</p>
								<p>300,00€ ou 460,00€ HT</p>
							</div>

						</div>
					</div>
				</div>


			</div>

			<div style="background-color: rgba(245, 245, 245, 0.723); height: 60vh;">




			</div>




		</div>

	</div>
</div>

<style>
	.overflow-container {
		height: 100vh;
		overflow: auto;
	}

	.section-right {
		text-align: right;
		background-color: rgba(245, 245, 245, 0.723);
		height: 60vh;
		margin-top: 1em;
	}

	.section-left {
		text-align: left;
		background-color: rgba(255, 255, 255, 0.844);
		height: 60vh;
		width: 100%;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 -2px 5px rgba(0, 0, 0, 0.2);
		position: relative;
		z-index: 30;
	}

	.icon-right {
		color: #297899;
		font-size: 33px;
		margin-top: 2em;
	}

	.icon-left {
		color: #297899;
		font-size: 33px;
		margin-top: 2em;
	}

	.section-icons {
		display: flex;
		justify-content: space-around;
		margin-left: 3vw;
		color: #297899;
		font-size: 36px;
	}

	.button-wrapper {
		position: relative;
		display: inline-block;
		bottom: 10vh;
	}

	button.active {
		color: #fab162 !important;
	}

	#toggleButton,
	#secondToggleButton {
		border: none;
		background: none;
		font-size: 16px;
		color: #1a1818;
	}

	#toggleText,
	#secondToggleText {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height 5s ease-out, opacity 5s ease-out;
		color: #1a1818;
		margin: 0;
		transition: max-height 2s ease-out, opacity 1s ease-out, padding linear 0.5s;
	}

	#toggleText ul,
	#secondToggleText ul {
		margin-top: 1em;
	}

	#toggleText p,
	#secondToggleText p {
		line-height: 1.2;
	}

	#toggleText.visible,
	#secondToggleText.visible {
		max-height: 500px;
		opacity: 1;
		padding-top: 2em;
	}

	#toggleText ul li,
	#secondToggleText ul li {
		list-style: none;
		position: relative;
		padding-left: 15px;
	}

	#toggleText ul li::before,
	#secondToggleText ul li::before {
		content: "";
		display: inline-block;
		width: 5px;
		height: 5px;
		background-color: #297899;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 55%;
		transform: translateY(-50%);
	}

	#toggleText ul li strong,
	#secondToggleText ul li strong {
		color: #297899;
	}


	.button-wrapper span {
		position: relative;
		display: block;
		width: 30vw;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.637);
		margin-top: 5px;
	}

	.paragraph-container {
		position: relative;
		padding-left: 25px;
		margin: 10px 0;
	}

	.paragraph-container p::before {
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		background-color: #1a1818;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.animated-element-right {
		opacity: 0;
		transform: translateX(-100%);
		transition: opacity 2s ease-in-out, transform 2s ease-in-out;
	}

	.animated-element-right.active {
		opacity: 1;
		transform: none;
	}

.animated-element-left {
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.animated-element-left.active {
    opacity: 1;
    transform: none;
}

	.animated-element-up {
		opacity: 0;
		transform: translateY(50%);
		transition: opacity 2s ease-in-out, transform 2s ease-in-out;
	}

	.animated-element-up.active {
		opacity: 1;
		transform: none;
	}
	.animated-element-down {
		opacity: 0;
		transform: translateY(-150%);
		transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
	}

	.animated-element-down.active {
		opacity: 1;
		transform: none;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const button = document.getElementById('toggleButton');
		const secondButton = document.getElementById('secondToggleButton');
		const text = document.getElementById('toggleText');
		const secondText = document.getElementById('secondToggleText');

		button.addEventListener('click', function () {
			if (text.classList.contains('visible')) {
				text.classList.remove('visible');
				button.classList.remove('active');
			} else {
				text.classList.add('visible');
				button.classList.add('active');
			}
		});

		secondButton.addEventListener('click', function () {
			if (secondText.classList.contains('visible')) {
				secondText.classList.remove('visible');
				secondButton.classList.remove('active');
			} else {
				secondText.classList.add('visible');
				secondButton.classList.add('active');
			}
		});
	});

</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const targets = document.querySelectorAll('.animated-element'); 

		const callback = (entries, observer) => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					entry.target.classList.add('active');
				} else {
					entry.target.classList.remove('active');
				}
			});
		};

		const observer = new IntersectionObserver(callback, {
			root: document.querySelector('.overflow-container'), // Conteneur défilant
			threshold: 0.999 // Ajuste selon tes besoins
		});

		targets.forEach(target => {
			observer.observe(target); // Observe chaque élément
		});
	});
</script>



{% endblock %}