<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/emails.css') }}">
</head>
<body>
    <h1>demande de : {{contact.nom}} {{contact.prenom}} </h1>

    <p>Email : {{contact.email}}</p>
    <p>Subject : {{contact.subject}}</p>
    <p>Message :</p>
        <div>
            {{contact.message|raw}}
        </div>
</body>
</html>