<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{asset('css/admin/dashboard.css')}}">
  <title>{% block title %}Document{% endblock %}</title>
  {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
</head>
<body>

  <!-- This is a reverse engineering of the "Hyperspace"
     design from HTML5 Up! https://html5up.net/hyperspace -->

<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="{{path('app_admin_profiles_index')}}">Utilisateurs</a></li>
        <li class="active"><a href="{{path('app_admin_portfolio_index')}}">Portfolio</a></li>
        <li class="active"><a href="{{path('app_admin_cat_images_projects_index')}}">Categories Images Projet</a></li>
        <li class="active"><a href="{{path('app_admin_prestations_index')}}">Préstations</a></li>
        <li class="active"><a href="{{path('app_admin_forfaits_index')}}">Forfaits</a></li>
        <li class="active"><a href="{{path('app_admin_categories_prix_index')}}">Catégories Prix</a></li>
        <li class="active"><a href="{{path('app_admin_commentaires_index')}}">Commentaires</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">Get In Touch</a></li>
      </ul>
    </nav>
  </aside>

  <section class="contenu">
    <div class="container">

{% block body %}{% endblock %}

</div>
</section>
</main>



{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</body>
</html>