{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Profil de : {{user.nom}} {{user.prenom}} </h1>

    <table class="table">
        {% for message in app.flashes('message') %}
        <div class="col-xs4">
            <div class="p-3my-2 rounded-2 succes"> {{message}} </div>
        </div>
        {% endfor %}
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
            
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_user_profile_edit', {'id': user.id}) }}">edit</a>
{% endblock %}
